/*=== RESET ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*=== VARIABLES ===*/
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: #ff0420;
  --base-color-second: #ff0420;
  --base-color-alt: #ff1f39;
  --title-color: white;
  --text-color: hsl(0deg 0% 51%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0deg 0% 8%);
  --body-color-second: #1c1c1c;

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Montserrat', sans-serif;
  --body-font: 'Montserrat', sans-serif;
}

/*=== BASE ===*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, #ff0420, hsl(0deg 0% 8% / 55%));
}

.divider-2 {
  height: 1px;
  background: linear-gradient(270deg, hsl(0deg 0% 8% / 55%), #ff0420);
}

/*=== LAYOUT ===*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}
.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

#header {
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background-color: var(--body-color-second);
}

#header.scroll {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

/*=== LOGO ===*/
.logo {
  font: 860 1.5rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color-second);
}

/*=== NAVIGATION ===*/
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* Toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*=== HOME ===*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*=== ABOUT ===*/
#about {
  background: var(--body-color-second);
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*=== SERVICES ===*/
#services {
  background: var(--body-color-second);
}

#services .cards.grid {
  gap: 1.5rem;
}

#services .card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

#services .card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

#services .card .title {
  font-size: 1.5rem;
}

/*=== CATALOG ===*/
#catalog .cards.grid {
  gap: 1.5rem;
}

#catalog .card {
  padding: 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

#catalog .card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

#catalog .card .title {
  font-size: 1.5rem;
}

#catalog .cards {
  grid-template-columns: 1fr 1fr;
}

#catalog header {
  margin-bottom: 1rem;
}

/*=== TESTIMONIALS ===*/
#testimonial {
  background-color: white;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials blockquote {
  padding: 2rem;
  background: var(--body-color-second);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
  color: var(--text-color);
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

#testimonials .rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars span {
  width: 1rem;
  height: 1rem;
  background-color: var(--base-color);
  -webkit-mask: url(assets/svg/star.svg) no-repeat center;
  mask: url(assets/svg/star.svg) no-repeat center;
  display: inline-block;
}

.stars .unrate {
  background-color: gray;
}

/*== SWIPER ==*/
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  background: #4c4c4c;
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*=== CONTACT ===*/
#contact {
  background: var(--body-color-second);
}

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*=== FOOTER ===*/
footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/*=== Back to top ===*/
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*=== Media Queries ===*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* classes para reusar */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .button {
    height: 3.125rem;
  }

  /*navegação*/
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  /* home */

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */
  #about .container {
    margin: auto;
    grid-auto-flow: column;
  }

  /* sevices */
  #services .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* catalog */
  #catalog .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #catalog header {
    margin-bottom: 4rem;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* tetimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
/* medium devices: 767 > */
@media (min-width: 767px) and (max-width: 1199px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.25rem;
  }

  body {
    font-size: 1.125rem;
  }

  .logo {
    font-size: 1.7rem;
  }

  /* home */
  #home .image img {
    padding: 0 5rem;
  }

  #home .title {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* services */
  #services header {
    text-align: center;
  }

  #services p {
    max-width: 45rem;
    margin: auto;
  }

  #services .cards {
    grid-template-columns: 1fr 1fr;
  }

  /* catalog */
  #catalog header {
    text-align: center;
  }

  #catalog .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* testimonials */
  #testimonials header {
    text-align: center;
  }

  /* about */
  #about .title {
    text-align: center;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  .back-to-top {
    font-size: 2rem;
  }
}
